    <h1 style="color: white; position:absolute; left:7%;top:25%">
        குழு உறுப்பினர்கள்
    </h1>
<div class="container">


    <div class="shopkeeper-shops" style="padding-bottom:20px; margin-left:120px;">
        <div class="card" style="width: 22rem; border-left: 6px solid red;">
            <div class="card-body">
                <h5 class="card-title" style="color:black;font-weight:bold;font-size:25px">வித்யார்த் கௌ ச
                    &nbsp;&nbsp;
                    <a href="https://www.linkedin.com/in/vidyarth-gs/">
                        <i class="fa-brands fa-linkedin-in fa-lg icon" style="color:rgb(0, 145, 255)"></i>
                    </a>
                </h5>
                <button type="button" class="btn btn-dark btn-sm" style="font-weight:bold;">
                    Tamil Sorting
                </button>
                <button type="button" class="btn btn-info btn-sm" style="font-weight:bold;">
                    Node JS
                </button>
                <button type="button" class="btn btn-primary btn-sm" style="font-weight:bold;">
                    Mongo DB
                </button>
                <button type="button" class="btn btn-danger btn-sm" style="font-weight:bold;">
                    Passport JS
                </button>
                <button type="button" class="btn btn-warning btn-sm" style="font-weight:bold;">
                    HTML
                </button>
                <button type="button" class="btn btn-info btn-sm" style="font-weight:bold;">
                    CSS
                </button>
                <button type="button" class="btn btn-dark btn-sm" style="font-weight:bold;">
                    APIs
                </button>
            </div>
        </div>
    </div>


    <div class="shopkeeper-shops" style="padding-bottom:20px">
        <div class="card" style="width: 16rem; border-left: 6px solid red;">
            <div class="card-body">
                <h5 class="card-title" style="color:black;font-weight:bold;font-size:25px">சிவனேஷ் கே
                    &nbsp;&nbsp;
                    <a href="https://www.linkedin.com/in/k-sivanesh/">
                        <i class="fa-brands fa-linkedin-in fa-lg icon" style="color:rgb(0, 145, 255)"></i>
                    </a>
                </h5>
                <button type="button" class="btn btn-dark btn-sm" style="font-weight:bold;">
                    Node JS
                </button>
                <button type="button" class="btn btn-warning btn-sm" style="font-weight:bold;">
                    AWS
                </button>
                <button type="button" class="btn btn-info btn-sm" style="font-weight:bold;">
                    Multar
                </button>
                <button type="button" class="btn btn-dark btn-sm" style="font-weight:bold;">
                    Anime JS
                </button>
                <button type="button" class="btn btn-primary btn-sm" style="font-weight:bold;">
                    QR JS
                </button>
                <button type="button" class="btn btn-danger btn-sm" style="font-weight:bold;">
                    jsPDF
                </button>
            </div>
        </div>
    </div>

    <div class="shopkeeper-shops" style="padding-bottom:20px">
        <div class="card" style="width: 18rem; border-left: 6px solid red;">
            <div class="card-body">
                <h5 class="card-title" style="color:black;font-weight:bold;font-size:25px">கதிரேசன் வி எம்
                    &nbsp;&nbsp;
                    <a href="https://www.linkedin.com/in/kathiresan-pl-044aaa241/">
                        <i class="fa-brands fa-linkedin-in fa-lg icon" style="color:rgb(0, 145, 255)"></i>
                    </a>
                </h5>
                <button type="button" class="btn btn-warning btn-sm" style="font-weight:bold;">
                    HTML
                </button>
                <button type="button" class="btn btn-info btn-sm" style="font-weight:bold;">
                    CSS
                </button>
                <button type="button" class="btn btn-dark btn-sm" style="font-weight:bold;">
                    Documentation
                </button>
                <button type="button" class="btn btn-primary btn-sm" style="font-weight:bold;">
                    Design
                </button>
            </div>
        </div>
    </div>

</div>

    <style>
        button{
            margin-bottom:5px;
        }
        h5{
            padding-bottom: 10px;
        }

        *{
    color: white;
}
.login-main{
    margin-top: 100px;
    width: 60%;
    margin-left: 20%;
}
.content-main{
    margin-top: 50px;
    width: 80%;
    margin-left: 5%;
    margin-right: 5%;
}

.left{
    padding-right: 10px;
}

.logout{
    position: absolute;
    background-color: red;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius:5px;
    top: 10px;
    right: 30px;
    
}

.welcome{
    color: red;
    font-weight: bold;
}
.flex{
    padding-right: 20px;
    padding-bottom: 10px;
}

.welcome-flex{
    display: flex;
    justify-content: space-between;
    width: 60%;
}
.bill-flex{
    display: flex;
    justify-content: space-between;
}

.welcome-right{
    margin-top: 10px;
}

.total-amount{
    text-align: right;
    margin-right: 158px;
    font-weight: bold;
}

.shop-del{
    position: absolute;
    top: 15px;
    right: 10px;
}

.item-edit{
    position: absolute;
    top: 15px;
    right: 60px;
}

.container{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
}
.shopkeeper-shops{
    margin-right:20px;
}
    </style>